<div class="container">
    <h1>Movies</h1>
    <div>
      <% @list.bookmarks.each do |bookmark| %>
          <div class="card-poster">
              <%= image_tag bookmark.movie.poster_url, alt: "movie poster" %>
          </div>
          <div class="card-description">
            <div class="card-title">
              <h5><%= bookmark.movie.title %></h5>
              <p> <%= bookmark.movie.rating %></p>
            </div>
            <div class="card-overview">
              <p> <%= bookmark.movie.overview %> </p>
            </div>
            <hr>
            <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
          </div>
      <% end %>
      <div class="links d-flex justify-content-around mt-10">
      <%= link_to "Detete this list", list_path(@list), method: :delete, data: { confirm: 'Are you sure you want to delete this list?' } %>
      <%= link_to "Back to list", lists_path %>
      <%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>
      </div>
  </div>
