<div class="container">
    <h1>Movies</h1>
    <div>
      <% @list.bookmarks.each do |bookmark| %>
          <div class="card-poster">
              <%= image_tag bookmark.movie.poster_url, alt: "movie poster" %>
          </div>
          <div class="card-description">
            <div class="card-title">
              <h5><%= bookmark.movie.title %></h5>
              <p> <%= bookmark.movie.rating %></p>
            </div>
            <div class="card-overview">
              <p> <%= bookmark.movie.overview %> </p>
            </div>
            <hr>
          </div>
      <% end %>
      <%= link_to "Back to list", lists_path %>
      <%= link_to "Add a movie", new_list_bookmark_path(@list) %>
  </div>
